.bmsgimg{
  width: 30%;
  height: 70%;
   /* border: 2px solid red; */
  margin-left:7%;
  margin-top: 7%;
  float: left;
}
.bmsgimg img{
  height: 100%;
  width: 100%;
}
.biggermsgbox{
  height: 50%;
  width: 100%;
  /* border: 2px solid yellow; */

}
.txtmsgbox{
  width: 45%;
  height: 85%;
  text-align: center;
  float: right;
  margin-top: 4%;
  margin-right: 12%;
  /* border: 2px solid red; */
  overflow: auto;
}
.undermsgbox{
  width: 99%;
  height: 30%;
  /* padding: 1px; */
  /* border:2px solid plum; */
  background-color:lightgray;
  margin: auto;
  padding: 1px;
}
/* create a second diaplay for pic */

.mdlwindow{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* border: 2px solid red; */
}

.mdlwindow{
      background-color: rgba(0, 0, 0, 0.5);
}


.mdlwindow:target{
  opacity: 1;
  pointer-events: auto;
}
.mdlwindow2:target{
  opacity: 1;
  pointer-events: auto;
}
.msgbox{
  width: 35%;
  height: 400px;
  margin-top:10% ;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid blue; */
  top:20px;

}
.msgbox{
  background-color: white;
}
.minidiv{
  width: 100%;
  height: 2%;
  float: left;
  /* border: 2px solid orange; */
}
.msgdiv{
  width: 100%;
  height: 10%;
  color: black;
  font-size: 30px;

  /* text-align: center; */
}
.msgdiv{
    background-color: white;
}
.minidiv{
  padding-bottom: 20px;
}
.msg2div{
  background-color: darkturquoise;
}

.msgdiv2, .msgdiv2a{
  width: 90%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  /* top:50%; */
  margin-top:2%;
  padding-top: 1px;
  padding-bottom: 5px;
  overflow: hidden;
}
/* .msgdiv2{
  background-color: cornflowerblue;
}
.msgdiv2a{
    background-color: darkturquoise;
} */
