body{
  background-color: lightgray;
}
ul{
  list-style-type:none;
  align:center;
}
.pine{
  text-align: center;
}
.box{
  border:2px solid;
  border-color: orange;
  border-radius: 5px;
  float: left;
  margin: 3%;

}
.img1,.img2,.img3{
  width:325px;
  height: 150px;
}

.img2{
  filter:invert(100%);

}
.img3{
  filter: sepia(100%);

}
a{
  text-align: center;
}

}
.i{
  width:200px;
  height:100px;
}
