.navbar {
  width: 200px;
  background-color: #092321;
  /* border: 8px solid green; */
  padding: 10px;
  float: left;
}

.navLink {
  display: block;
  padding: 8px 16px;
  color: #007bff;
  text-decoration: none;
  /* border-bottom: 1px solid #ddd; */
  cursor: pointer;
}

.navLink:last-child {
  border-bottom: none;
}

.navLink:hover {
  background-color: #e9ecef;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
  position: fixed;
  right: 20px; 
  top: 50px;  
  width: 180px; 
  background-color: #f8f9fa; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.toggle-btn {
  color:white;
  background-color:rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  float:left;
  /* border: 5px dotted yellow; */
}

.toggle-btn:hover {
  background-color: gray;
}